:root {
    --background-color: #1a1a1a;
    --header-background-color: #333;
    --primary-color: #4a90e2;
    --text-color: #fff;
    --hero-background-color: #000;
    --feature-background-color: #333;
    --testimonial-background-color: #1a1a1a;
    --plan-background-color: #333;
    --plan-card-background-color: #444;
    --footer-background-color: #000;
}


.flash-messages {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 250px;
    border-radius: 5px;
}

.flash-message {
    margin-bottom: 5px;
    font-size: 16px;
    position: relative;
    padding: 5px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.flash-success {
    border-radius: 5px;
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.flash-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

.flash-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}

.hidden {
    display: none;
}