{% extends "base.html" %}


{% block content %}
<section class="cate">
    <div class="container">
        <div class="card card1">
            <div class="card-image"></div>
                <ul>
                    <li>Enhance your vocabulary and grammar skills.</li>
                    <li>Explore classic and contemporary literature.</li>
                    <li>Improve your writing and communication abilities.</li>
                    <li>Engage in interactive language exercises</li>
                </ul>
            <button class="cate-button">Explore</button>
        </div>
        <div class="card card2">
            <div class="card-image"></div>
                <ul>
                    <li>Enhance your vocabulary and grammar skills.</li>
                    <li>Explore classic and contemporary literature.</li>
                    <li>Improve your writing and communication abilities.</li>
                    <li>Engage in interactive language exercises</li>
                </ul>
            <button class="cate-button" onclick="location.href='{{ url_for('en') }}'">Explore</button>
        </div>
        <div class="card card3">
            <div class="card-image"></div>
            <ul>
                <li>Enhance your vocabulary and grammar skills.</li>
                <li>Explore classic and contemporary literature.</li>
                <li>Improve your writing and communication abilities.</li>
                <li>Engage in interactive language exercises</li>
            </ul>
            <button class="cate-button">Explore</button>
        </div>
        <div class="card card4">
            <div class="card-image"></div>
            <ul>
                <li>Enhance your vocabulary and grammar skills.</li>
                <li>Explore classic and contemporary literature.</li>
                <li>Improve your writing and communication abilities.</li>
                <li>Engage in interactive language exercises</li>
            </ul>
            <button class="cate-button">Explore</button>
        </div>
        <div class="card card5">
            <div class="card-image"></div>
            <ul>
                <li>Enhance your vocabulary and grammar skills.</li>
                <li>Explore classic and contemporary literature.</li>
                <li>Improve your writing and communication abilities.</li>
                <li>Engage in interactive language exercises</li>
            </ul>
            <button class="cate-button">Explore</button>

        </div>
        <div class="card card6">
            <div class="card-image"></div>
            <ul>
                <li>Enhance your vocabulary and grammar skills.</li>
                <li>Explore classic and contemporary literature.</li>
                <li>Improve your writing and communication abilities.</li>
                <li>Engage in interactive language exercises</li>
            </ul>
            <button class="cate-button">Explore</button>
        </div>
    </div>
</section>
{% endblock %}



<!-- <div class="progress-ring">
    <div class="progress-circle">
      <span class="progress-text">40%</span>
    </div>
  </div> -->