{% extends "base.html" %}


{% block content %}
<section class="english">
    <div class="container">
        <div class="card card1">
            <div class="card-image"></div>
                <ul>
                    <li>Quiz Tittle: english b2</li>
                    <li>Number of Questions: 14.</li>
                    <li>Number of atempers: 122</li>
                    <li>percent of Success:  23%</li>
                </ul>
            <button class="cate-button" onclick="location.href='{{ url_for('quiz', quiz_id=quiz_id, user_id=user_id) }}'">Explore</button>
        </div>
        <div class="card card2">
            <div class="card-image"></div>
                <ul>
                    <li>Enhance your vocabulary and grammar skills.</li>
                    <li>Enhance your vocabulary and grammar skills.</li>
                    <li>Enhance your vocabulary and grammar skills.</li>
                    <li>Enhance your vocabulary and grammar skills.</li>
                </ul>

                <button class="cate-button" onclick="getQuiz('{{ quiz_id }}', '{{ user_id }}')">Explore</button>
        </div>
        <div class="card card3">
            <div class="card-image"></div>
            <ul>
                <li>Enhance your vocabulary and grammar skills.</li>
                <li>Explore classic and contemporary literature.</li>
                <li>Improve your writing and communication abilities.</li>
                <li>Engage in interactive language exercises</li>
            </ul>
            <button class="cate-button">Explore</button>
        </div>
        <div class="card card4">
            <div class="card-image"></div>
            <ul>
                <li>Enhance your vocabulary and grammar skills.</li>
                <li>Explore classic and contemporary literature.</li>
                <li>Improve your writing and communication abilities.</li>
                <li>Engage in interactive language exercises</li>
            </ul>
            <button class="cate-button">Explore</button>
        </div>
        <div class="card card5">
            <div class="card-image"></div>
            <ul>
                <li>Enhance your vocabulary and grammar skills.</li>
                <li>Explore classic and contemporary literature.</li>
                <li>Improve your writing and communication abilities.</li>
                <li>Engage in interactive language exercises</li>
            </ul>
            <button class="cate-button">Explore</button>

        </div>
        <div class="card card6">
            <div class="card-image"></div>
            <ul>
                <li>Enhance your vocabulary and grammar skills.</li>
                <li>Explore classic and contemporary literature.</li>
                <li>Improve your writing and communication abilities.</li>
                <li>Engage in interactive language exercises</li>
            </ul>
            <button class="cate-button">Explore</button>
        </div>
    </div>
</section>
{% endblock %}



<!-- <div class="progress-ring">
    <div class="progress-circle">
      <span class="progress-text">40%</span>
    </div>
  </div> -->