{% extends "base.html" %}


{% block title %}
    English
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/english.css') }}">
{% endblock %}

{% block content %}
<section class="english">
    <div class="card-container">
            {% for quiz in quizzes %}
            <div class="card" onclick="handleQuizClick('{{ url_for('quiz', quiz_id=quiz.id) }}')">
                <div class="card-header">
                    <span class="badge">{{ quiz.users_with_quiz }} Enrolled</span>
                    <img src="../static/Images/OIP.jpg" alt="Course Image" class="card-image">
                </div>
                <div class="card-body">
                    <h3>{{ quiz.title }}</h3>
                    <div class="progress-container">
                        <div class="progress">
                            <div class="circle">
                                <span>{{ quiz.avg_score }}%</span>
                            </div>
                            <p>Accuracy <i class="fas fa-info-circle"></i></p>
                        </div>
                        <div class="progress">
                            <div class="circle">
                                <span>{{ quiz.success_rate }}%</span>
                            </div>
                            <p>Success Rate <i class="fas fa-info-circle"></i></p>
                        </div>
                    </div>
                    <div class="tags">
                        <span class="tag">{{ quiz.cate }}</span>
                        <span class="tag">Not Urgent</span>
                    </div>
                    <div class="footer">
                        <span>Edited 2h ago</span>
                        <span><i class="fas fa-question-circle"></i> {{ quiz.num_of_questions }} Questions</span>
                        <span><i class="fas fa-ellipsis-h"></i></span>
                    </div>
                </div>
            </div>
            
            {% endfor %}
        </div>
    </section>
    {% endblock %}

    {% block scripts %}
    <script src="{{ url_for('static', filename='JS/english.js') }}"></script>
    {% endblock %}
   