{% extends "base.html" %}

{% block content %}
<main>
    <section class="hero">
        <div class="containter">
            <div class="hero-container">
                <i class="fa-brands fa-quinscape"></i>
                <h1>Improve your knowledge and find your happiness</h1>
                <button>Start learning</button>
                <button>Start learning</button>
            </div>
        </div>
    </section>

    <section class="features">
        <div class="container">

            <h2>Our features</h2>
            <div class="feartures-container">
                <div class="feature">
                    <i class="fa-solid fa-quote-right"></i>
                    <p>Unlock inner happiness and embrace a positive state of mind.</p>
                </div>
                <div class="feature">
                    <i class="fa-solid fa-quote-right"></i>
                    <p>Drift into deep, rejuvenating sleep and wake up refreshed.</p>
                </div>
                <div class="feature">
                    <i class="fa-solid fa-quote-right"></i>
                    <p>Unlock inner happiness and embrace a positive state of mind.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="testimonials">
        <div class="container">

            <h2>Join QQQ community and connect with more than 1M users</h2>
            <div class="testimonial">
                <p>"I feel more relaxed and happy."</p>
                <span>Matthew L., Dean of Faculty</span>
            </div>
            <div class="testimonial">
                <p>"This app saved my brain and sleep. 10/10!"</p>
                <span>Lucy K., Professor</span>
            </div>
            <div class="testimonial">
                <p>"Meditation is my medication"</p>
                <span>Alex S., Student</span>
            </div>
            <div class="testimonial">
                <p>"Anxiety and stress left my brain. I feel so much better!"</p>
                <span>Joshua M., Educator</span>
            </div>
        </div>
    </section>

    <section class="plans">
        <div class="container">

            <h2>Choose your plan</h2>
            <div class="plan">
                <h3>Basic</h3>
                <p>$23/month</p>
                <ul>
                    <li>Access to 10 educational quizzes per month</li>
                    <li>Educational library</li>
                    <li>Access to community forums</li>
                </ul>
                <button>Student</button>
            </div>
            <div class="plan">
                <h3>Professor</h3>
                <p>$46/month</p>
                <ul>
                    <li>Access to 20 educational quizzes per month</li>
                <li>Educational library</li>
                <li>Access to community forums</li>
            </ul>
            <button>Professor</button>
        </div>
        <div class="plan">
            <h3>Student</h3>
            <p>$64/month</p>
            <ul>
                <li>Unlimited access to educational quizzes</li>
                <li>Educational library</li>
                <li>Access to community forums</li>
            </ul>
            <button>Student</button>
        </div>
    </div>
    </section> -->
</main>
{% endblock %}