{% extends "base.html" %}

{% block content %}
<main>
    <section class="hero" id="home">
        <div class="containter">
            <div class="hero-container">
                <i class="fa-brands fa-quinscape"></i>
                <h1>Improve your knowledge and find your happiness</h1>
                <button onclick="location.href='{{ url_for('cate') }}'">Explore</button>
                <button onclick="document.getElementById('plan').scrollIntoView({ behavior: 'smooth' });">Subscribe</button>
            </div>
        </div>
    </section>

    <section class="pricing-plans" id="plan">
        <h1>Choose your plan</h1>
        <div class="plan">
            <h2>Basic <i class="fas fa-gift"></i></h2>
            <p>$23/ month</p>
            <ul>
                <li><i class="fas fa-check"></i> Access to 10 educational quizzes per month</li>
                <li><i class="fas fa-times"></i> Educational library</li>
                <li><i class="fas fa-times"></i> Access to community forums</li>
            </ul>
            <button>Student</button>
        </div>
        <div class="plan">
            <h2>Professor <i class="fas fa-star"></i></h2>
            <p>$46/ month</p>
            <ul>
                <li><i class="fas fa-check"></i> Access to 20 educational quizzes per month</li>
                <li><i class="fas fa-check"></i> Educational library</li>
                <li><i class="fas fa-times"></i> Access to community forums</li>
            </ul>
            <button>Professor</button>
        </div>
        <div class="plan">
            <h2>Student <i class="fas fa-gem"></i></h2>
            <p>$64/ month</p>
            <ul>
                <li><i class="fas fa-check"></i> Unlimited access to educational quizzes</li>
                <li><i class="fas fa-check"></i> Educational library</li>
                <li><i class="fas fa-check"></i> Access to community forums</li>
            </ul>
            <button>Student</button>
        </div>
    </section>

    <section class="features" id="features">
        <div class="container">

            <h2>Our features</h2>
            <div class="feartures-container">
                <div class="feature">
                    <i class="fa-solid fa-quote-right"></i>
                    <p>Unlock inner happiness and embrace a positive state of mind.</p>
                </div>
                <div class="feature">
                    <i class="fa-solid fa-quote-right"></i>
                    <p>Drift into deep, rejuvenating sleep and wake up refreshed.</p>
                </div>
                <div class="feature">
                    <i class="fa-solid fa-quote-right"></i>
                    <p>Unlock inner happiness and embrace a positive state of mind.</p>
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock %}